*.a
*.o
*.mod
.gmt*
*.so
*.so.?
FFFTW/test_FFFTW/*.xy
FFFTW/test_FFFTW/test_FFFTW
anisotropy_ajn/test_axial_average
anisotropy_ajn/test_CIJ_brow_chev
anisotropy_ajn/test_CIJ_tandon_and_weng
anisotropy_ajn/test_Reuss_av
anisotropy_ajn/test_Voigt_av
anisotropy_ajn/test_flip
anisotropy_ajn/test_global_VTI
anisotropy_ajn/test_panning_VTI
anisotropy_ajn/test_tensor_rot
anisotropy_ajn/test_transform_M
anisotropy_ajn/test_symm
anisotropy_ajn/test_disp
anisotropy_ajn/test_tensor_rot
plate_motion/apm
plate_motion/plate_name
plate_motion/plate_name_list
plate_motion/spread
plate_motion/test_inout
plate_motion/test_plate_motion
spherical_splines/knot_points_AP.xy
spherical_splines/knot_points_B.xy
spherical_splines/out_AP.grd
spherical_splines/out_AP.ps
spherical_splines/out_AP.xy
spherical_splines/out_B.grd
spherical_splines/out_B.ps
spherical_splines/out_B.xy
spherical_splines/out_SH.grd
spherical_splines/out_SH.ps
spherical_splines/out_SH.xy
spherical_splines/test_AP_width2h
spherical_splines/test_SHTOOLS
spherical_splines/test_spherical_splines
spherical_splines/test_spherical_splines_AP
test_EC_grid/test_EC_grid_dump_file_bin
test_f90sac/test_f90sac
test_spherical_geometry/test_gcp_points
test_spherical_geometry/test_sg_gcp_to_azimuth*
test_spherical_geometry/test_sphere_sample
test_spherical_geometry/test_step
test_spherical_geometry/test_vincenty
test_splitwave/*BHE
test_splitwave/*BHN
test_splitwave/*BHZ
test_splitwave/test_misfit
test_splitwave/test_misfit_ecs
test_splitwave/test_splitwave

# Programs derived from module subroutines: ignore binaries but keep directories
progs/bin/*
progs/obj/*