*.a
*.o
*.mod
.gmt*
*.so
*.so.?
anisotropy_ajn/test_axial_average
anisotropy_ajn/test_CIJ_brow_chev
anisotropy_ajn/test_CIJ_tandon_and_weng
anisotropy_ajn/test_Reuss_av
anisotropy_ajn/test_Voigt_av
anisotropy_ajn/test_global_VTI
anisotropy_ajn/test_panning_VTI
anisotropy_ajn/test_tensor_rot
anisotropy_ajn/test_symm
anisotropy_ajn/test_disp
anisotropy_ajn/test_tensor_rot
plate_motion/apm
plate_motion/plate_name
plate_motion/plate_name_list
plate_motion/spread
plate_motion/test_inout
plate_motion/test_plate_motion
test_EC_grid/test_EC_grid_dump_file_bin
test_spherical_geometry/test_gcp_points
test_spherical_geometry/test_sphere_sample
test_spherical_geometry/test_step
test_spherical_geometry/test_vincenty
